.result {
  width: 60%;
  height: 100%;
  background-color: yellow;
  margin: auto;
  border-radius: 20px;
  
  &__clear {
    text-align: center;
    font-size: 30px;
  }

  table {
    width: 60%;
    margin: auto;

    tr {
      height: 30px;
    }
  }

  &__wrapper {
    display: flex;
    width: 350px;
    margin: auto;

    &__challenge {
      margin-right: 10%;
    }
  }

}

.dsp-none {
  display: none;
}