.result {
  width: 60%;
  background-color: yellow;
  margin: auto;
  border-radius: 20px;
  
  &__clear {
    text-align: center;
    font-size: 30px;
  }

  table {
    width: 60%;
    margin: auto;

    tr {
      height: 30px;
    }
  }

  &__wrapper {
    text-align: center;

    &__challenge {
      border-radius: 10px;
      padding: 5px;
    }
    &__challenge:hover {
      background-color: #FF8856;
      color: yellow;
    }

    &__register {
      border-radius: 10px;
      margin-top: 30px;
      cursor: pointer;
      background-color: yellow;
      border-style: none;
      font-size: 20px;
      color: #FF33FF;
    }
    &__register:hover {
      background-color: #FF33FF;
      color: yellow;
    }
  }

  &__note {
    width: 50%;
    margin: auto;
    font-size: 16px;
  }

}

.dsp-none {
  display: none;
}