.stc-header {
  display: flex;
  justify-content: space-between;
  
  .header-title {
    font-size: 30px;
    margin-top: 30px;
    margin-left: 200px;
  }

  ul {
    display: flex;
    margin-top: 30px;
    list-style: none;

    li {
      margin-right: 30px;
    }
  }
}

.stc-tab {
  width:  90%;
  margin: auto;

  &__wrapper {
    display: flex;
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;

    &--myself {
      width: 220px;
      height: 40px;
      background-color: #A9A9A9;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      cursor: pointer;
    }

    &--all {
      width: 140px;
      height: 40px;
      background-color: #A9A9A9;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      cursor: pointer;
    }
    
    .color {
      background-color: #00FF00;
    }
  }
  
  .stc-none {
    display: none;
  }
  .stc {
    margin-bottom: 30px;
    &__wrapper {
      width: 100%;
      display: flex;

      &--id {
        width: 50px;
      }

      &__btn {
        margin-left: 20px;
        &--des {
          color: #ff4500;
        }
      }

      &__deco {
        width: 100px;
        text-align: center;
        line-height: 40px;
        border-right: solid 1px #d3d3d3;
      }
    }

    table {
      height: 80px;
      width: 100%;

      tr {
        th {
          width: 130px;
          border: solid 1px black;
          line-height: 40px;
        }

        td {
          border: solid 1px black;
          padding-left: 10px;
        }
      }
    }
  }

  .dummy {
    background-color: #f0f8ff;
    height: 1px;
  }
}
